body {
	background: #A9A9A9;
}

#wrapper {
	position: relative;
	margin: 0 auto;
	border: 4px solid #000000;
	top: 20px;
	width: 850px;
	height: 700px;
}

#NAME {
	display: none;
	position: absolute;
	top: 30px;
	left: 150px;
	border: 4px solid #336699;
}

#enemyKoma {
	display: none;
	position: absolute;
	top: 20px;
	left: 10px;
	border: 4px solid #449922;

}

#myKoma {
	display: none;
	position: absolute;
	top: 290px;
	left: 710px;
	border: 4px solid #449922;
}

#message {
	position: absolute;
	text-align: center;
	top: 590px;
	left: 150px;
	width: 540px;
	height: 100px;
	border: 4px solid #331122;
}

#debug {
	position: absolute;
	top: 400px;
	left: 0px;
	border: 4px solid #331122;
}


